.outfit {
    font-size: 24px;
    color: #B00100;
    min-width: 200px;
    border: #999999 solid 1px;
    padding: 5px;
    background: #00BB33;
}
.outfit:hover{
    background: #008833;
}
.item {
    color: black;
}
.outfit-container{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
}